{% extends 'website/base/base.html' %}

{% block title %} Cheetah FC | Gallery {% endblock title %}

{% load static %}

{% block content %}
<template>
	<v-container fluid grid-list-md a>
	  <v-layout row wrap>
	    <v-flex d-flex xs12 md10 lg10 sm12 offset-md1 offset-lg1>
          <v-tabs
          centered
          color="red accent-3"
          dark
          icons-and-text
        >
          <v-tabs-slider color="white"></v-tabs-slider>
      
          <v-tab href="#tab-1">
            Wallpapers
            <v-icon>photo</v-icon>
          </v-tab>
      
          <v-tab href="#tab-2">
            Gallery
            <v-icon>image</v-icon>
          </v-tab>
      
          <v-tab href="#tab-3">
            Videos
            <v-icon>videocam</v-icon>
          </v-tab>
      
          <!-- <v-tab-item
            v-for="i in 3"
            :id="'tab-' + i"
            :key="i"
          >
            <v-card flat>
              <v-card-text>jhjkhkjhjhkjh</v-card-text>
            </v-card>
          </v-tab-item> -->
          <v-tab-item
            id="tab-1"
          >
            <wallpaper_grid :wallpapers="{{wallpapers}}"></wallpaper_grid>
          </v-tab-item>
          <v-tab-item
            id="tab-2"
          >
            <v-card flat>
              <gallery_grid :gallery="{{galleries}}"></gallery_grid>
            </v-card>
          </v-tab-item>
          <v-tab-item
            id="tab-3"
          >
          <video_grid :videos="{{videos}}"></video_grid>
          </v-tab-item>
        </v-tabs>
	    </v-flex>
	  </v-layout>
	</v-container>
</template>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">

var wallpaper_grid = {
  props: ['wallpapers'],
  template: `
            <v-layout row wrap>
                <v-flex
                v-for="(picture, index) in wallpapers"
                :key="index"
                xs3 md3
              >
                <img
                  :src="picture.src"
                  alt="lorem"
                  style="padding:5px;"
                  class="image"
                  height="100%"
                  width="100%"
                >
              </v-flex>
            </v-layout>
  `
}

var gallery_grid = {
  props: ['gallery'],
  template: `
          <v-layout row wrap>
                <v-flex
                v-for="(picture, index) in gallery"
                :key="index"
                xs3 md3
              >
                <img
                  :src="picture.src"
                  alt="lorem"
                  class="image"
                  style="padding:5px;"
                  height="100%"
                  width="100%"
                >
              </v-flex>
            </v-layout>
  `
}

var video_grid = {
  props: ['videos'],
  template: ` <v-layout row wrap>
                <v-flex
                v-for="(v, index) in videos"
                :key="index"
                xs3 md3
              >
              <iframe height="300"
              style="padding:5px;"
                      :src="v.src" frameborder="0" allowfullscreen>
               </iframe>
              </v-flex>
            </v-layout>`
}
	new Vue({
		el:"#app",
    components: {
      'wallpaper_grid': wallpaper_grid,
      'gallery_grid': gallery_grid,
      'video_grid': video_grid
    },
		data:{
		  text: 'jkljkjkjljk',
      gallery: [],
      videos: [],
      wallpapers: [],
    
		}
	})
</script>
{% endblock javascript %}