{% extends 'website/base/base.html' %}

{% block title %} Cheetah FC | First Team {% endblock title %}

{% load static %}

{% block content %}
<template>
	<v-container fluid grid-list-md>
	  <v-layout row wrap>
	        <v-flex d-flex xs12 md10 lg10 sm12 offset-md1 offset-lg1>
			<v-layout row wrap>
		      {% for player in first_players %}
				<v-flex xs12 sm2 lg2 md2>
					<v-card>
						<v-card-media
						  src="{{ player.picture.url }}"
						  height="200px"
						>
						</v-card-media>

						<v-card-title primary-title>
						  <div>
							<div class="headline">{{ player.player_name }}</div>
						  </div>
						</v-card-title>

						<v-card-actions>
						  <v-btn flat @click="dialog = !dialog">View Profile</v-btn>
						  <v-spacer></v-spacer>
						</v-card-actions>

					  </v-card>
				</v-flex>

				<!-- Dialog for the displaying of extra data for each of the players -->
				<v-dialog
				  v-model="dialog"
				  width="800"
				  scrollable>
				  <v-card>
					<v-card-title
					  class="headline grey lighten-2"
					  primary-title
					>
					 {{ player.player_name }}
					</v-card-title>

					<v-card-text>
						{% if player.profile is None %}
						{{ player.profile }}
						{% else %}
						<h3 class="text-sm-center text-md-center"> No Write Up Available for "{{ player.player_name }}"</h3>
						{% endif %}
					</v-card-text>

					<v-divider></v-divider>

					<v-card-actions>
					  <v-spacer></v-spacer>
					  <v-btn
						color="primary"
						flat
						@click="dialog = false"
					  >
						Close
					  </v-btn>
					</v-card-actions>
				  </v-card>
				</v-dialog>
				{% empty %}
				 <v-flex xs12 sm12 md12 lg12>
					<v-layout row wrap d-flex>
						<v-flex xs12 sm4 md4 lg4 offset-sm4 offset-md4 offset-lg4>
						   <v-card flat tag="div" style="margin-top:101px;text-align:center;">
							   <img src="{% static 'images/group.svg' %}" alt="Placeholder Image" :style="holderStyle"/>
						   </v-card>

							<v-card flat>
								<h3 style="text-align:center;font-weight:500;font-size:22px;padding:15px 0 15px 0;" class="grey--text text--darken-2">No Data Available Here</h3>
							</v-card>
						</v-flex>
					</v-layout>
				</v-flex>
				{% endfor %}
			</v-layout>
	    </v-flex>
	  </v-layout>
	</v-container>
</template>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
	new Vue({
		el:"#app",
		data:{
		    dialog:false,
		    holderStyle:{
		        width:'400px'
		    }
		}
	})
</script>
{% endblock javascript %}